body {
    background-color: rgb(181, 59, 59);
   width: 100%;
   place-content: center; 
   justify-content: center;
   display: grid;
}
body div p{
    color: white;
    justify-content: center;
    display: grid;
    place-content: center;
}
h1 {
    color: blue;
}
#container {
    place-content: center;
    justify-content: center;
    align-content: center;
    width: 50%;
    text-align: center;
    display: grid;
    background-color: darkgray;
    border: 5px dotted rgb(12, 114, 12);
    border-radius: 10px;
    margin: 10%;
    padding: 10%;
}